@import "tailwindcss";


:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}
/* .active{
  color: #004ad3;
} */

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

button {
  cursor: pointer;
  border: none;
}

a {
  text-decoration: none;
}

.card {
  position: relative;
  border-radius: 1rem;
  box-shadow: 10px 15px 30px #00000025;
}

/* .product_card {
  height: 430px;
  max-height: 300px;
  max-width: 380px;
  width: 100%;
  overflow: clip;
} */

.product_card:hover .image_product {
  transform: scale(1.3);
}

.image_product {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  transition: transform 0.3s cubic-bezier(0, 0.87, 0.43, 1.1);
}

.card_content_product {
  position: absolute;
  height: 100%;
  width: 100%;
  bottom: 0;
  background: linear-gradient(0deg, #0101017f 0%, #01010100 40%);
}

.product {
  width: 100%;
  text-align: center;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  opacity: 1;
}

.card_content_product {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: end;
}

.product .product_name {
  color: #ffffff;
}

.product .price_product {
  color: #ffffff;
}

.card_content_product .btn_product {
  
  border-radius: 5rem;
  outline: #fcfcfc 2px solid;
  color: #fcfcfc;
  position: absolute;
  margin-top: 1rem;
  bottom: -5rem;
  cursor: pointer;
  transition: bottom .6s cubic-bezier(0.18, 0.89, 0.3, 1.24)
}

.card_content_product .btn_product:hover {
  transition: background-color .3s ease-in-out;
  background-color: #0101017f;
}

.card_content_product:hover .btn_product {
  bottom: 2rem;
}

.card_content_product:hover .product {
  opacity: 0;
  transition: opacity .3s ease-in-out;
  /* margin-top: 200px; */
}